<EditForm Model="@ViewModel" OnSubmit="@(() => 
    { 
        DynamicLocalizationService.SetCulture(currentCulture);
    })">
    <div style="display: flex; flex-direction: column">
        <div>@StringLocalizer["LanguageSettings"]</div>
        <div>
            <InputSelect @bind-Value="@currentCulture">
                <option value="" selected>
                    @StringLocalizer["SelectLanguage"]
                </option>
                @foreach (var c in DynamicLocalizationService.Cultures)
                {
                    <option value="@c.Name">
                        @c
                    </option>
                }
            </InputSelect>
        </div>
        <button class="btn-primary" type="submit">@StringLocalizer["Save"]</button>
    </div>
</EditForm>