<EditForm Model="@ViewModel" OnSubmit="@(async () => 
    { 
        await ViewModel.ChangeCultureAsync(currentCulture); 
        var strings = StringLocalizer.GetAllStrings(true);
    })">
    <div style="display: flex; flex-direction: column">
        <div>@StringLocalizer["LanguageSettings"]</div>
        <div>
            <InputSelect @bind-Value="@currentCulture">
                @foreach (var c in ViewModel.DynamicLocalizationService.Cultures)
                {
                    <option value="@c.Name" checked="@(c.Name == currentCulture)">
                        @c
                    </option>
                }
            </InputSelect>
        </div>
        <button class="btn-primary" type="submit">@StringLocalizer["Save"]</button>
    </div>
</EditForm>
