<div style="display: flex; flex-direction: column">
    <div style="display: flex; flex-direction: row">
        <div>
            @(nameof(ViewModel.Name)): 
        </div>
        <div>
            @ViewModel.Name
        </div>
    </div>
    <div style="display: flex; flex-direction: row">
        <div>
            @(nameof(ViewModel.Image)): 
        </div>
        <div>
   <img src="@($"data:image/gif;base64,{ViewModel.Image}")" alt="@ViewModel.Name" />
        </div>
    </div>
    <div style="display: flex; flex-direction: row">
        <div>
            @(nameof(ViewModel.Description)): 
        </div>
        <div>
            @ViewModel.Description
        </div>
    </div>
    <div style="display: flex; flex-direction: row">
        <div>
            @(nameof(ViewModel.Portions)): 
        </div>
        <div>
            @ViewModel.Portions
        </div>
    </div>
    <div style="display: flex; flex-direction: row">
        <div>
            @(nameof(ViewModel.EstimatedTime)): 
        </div>
        <div>
            @ViewModel.EstimatedTime
        </div>
    </div>
    <div style="display: flex; flex-direction: row">
        <div>
            @(nameof(ViewModel.Portions)): 
        </div>
        <div>
            @ViewModel.Portions
        </div>
    </div>
    <div style="display: flex; flex-direction: row">
        <div>
            @(nameof(ViewModel.CreatedAt)): 
        </div>
        <div>
            @ViewModel.CreatedAt
        </div>
    </div>
    <div style="display: flex; flex-direction: row">
        <div>
            @(nameof(ViewModel.UpdatedAt)): 
        </div>
        <div>
            @ViewModel.UpdatedAt
        </div>
    </div>
    <div style="display: flex; flex-direction: column">
        <div>Ingredients:</div>
        @foreach (var ingredient in ViewModel.Ingredients)
        {
            <div style="display: flex; flex-direction: column">
                <div style="display: flex; flex-direction: row">
                    <div>
                        @(nameof(ingredient.Name)): 
                    </div>
                    <div>
                        @ingredient.Name
                    </div>
                </div>
            </div>
            <div style="display: flex; flex-direction: column">
                <div style="display: flex; flex-direction: row">
                    <div>
                        @(nameof(ingredient.Description)): 
                    </div>
                    <div>
                        @ingredient.Description
                    </div>
                </div>
            </div>
            <div style="display: flex; flex-direction: column">
                <div style="display: flex; flex-direction: row">
                    <div>
                        @(nameof(ingredient.CreatedAt)): 
                    </div>
                    <div>
                        @ingredient.CreatedAt
                    </div>
                </div>
            </div>
            <div style="display: flex; flex-direction: column">
                <div style="display: flex; flex-direction: row">
                    <div>
                        @(nameof(ingredient.UpdatedAt)): 
                    </div>
                    <div>
                        @ingredient.UpdatedAt
                    </div>
                </div>
            </div>
        }
    </div>
    <div style="display: flex; flex-direction: column">
        <div>Steps:</div>
        @foreach (var step in ViewModel.Steps)
        {
            <div style="display: flex; flex-direction: column">
                <div style="display: flex; flex-direction: row">
                    <div>
                        @(nameof(step.Name)): 
                    </div>
                    <div>
                        @step.Name
                    </div>
                </div>
            </div>
            <div style="display: flex; flex-direction: column">
                <div style="display: flex; flex-direction: row">
                    <div>
                        @(nameof(step.Description)): 
                    </div>
                    <div>
                        @step.Description
                    </div>
                </div>
            </div>
            <div style="display: flex; flex-direction: column">
                <div style="display: flex; flex-direction: row">
                    <div>
                        @(nameof(step.CreatedAt)): 
                    </div>
                    <div>
                        @step.CreatedAt
                    </div>
                </div>
            </div>
            <div style="display: flex; flex-direction: column">
                <div style="display: flex; flex-direction: row">
                    <div>
                        @(nameof(step.UpdatedAt)): 
                    </div>
                    <div>
                        @step.UpdatedAt
                    </div>
                </div>
            </div>
        }
    </div>
</div>
