<a class="btn-primary" href="/create-recipe">Create a new recipe</a>
<div>
    <div style="display: flex; flex-direction: row">
        <button class="btn-primary" onclick="@ViewModel.PreviousPage">Previous</button>
        <div>@ViewModel.PageNumber</div>
        <button class="btn-primary" onclick="@ViewModel.NextPage">Next</button>
    </div>
    <InputSelect @bind-Value="ViewModel.PageSize">
        <option value="">
            Select page size...
        </option>
        <option checked="@(ViewModel.PageSize == 10)" 
            value="10">
            10
        </option>
        <option checked="@(ViewModel.PageSize == 50)" 
            value="50">
            50
        </option>
        <option checked="@(ViewModel.PageSize == 100)" 
            value="100">
            100
        </option>
    </InputSelect>
    <div>
        <div>
            <InputText @bind-Value="ViewModel.FilterString"/>
            <button onclick="@ViewModel.GetRecipesAsync">Search</button>
        </div>
        <div>

        </div>
    </div>
    <div style="display: flex; flex-direction: column">
        @foreach (var recipe in ViewModel.Recipes)
        {
           <a href="@($"/details-recipe/{recipe.Id}")">
                <div style="background-color: lightgray;" title="@recipe.Description">@recipe.Name</div>
                <div>@recipe.UpdatedAt</div>
           </a>
        }
    </div>
</div>
