@* <NavLink class="btn btn-nav" ActiveClass="btn btn-nav active" href="@NavPath" Match="NavLinkMatch.All">
    <div class="oi @OiIcon" title="@OiTitle" />
</NavLink> *@
<a class="btn btn-nav" ActiveClass="btn btn-nav active" href="@NavPath">
    <div class="oi @OiIcon" title="@OiTitle" />
</a>