<EditForm Model="@ViewModel" OnSubmit="SaveAsync" onreset="@(async () => await CancelAsync())">
    <DataAnnotationsValidator />
    <div style="display: flex; flex-direction: column">
        <div>
            @StringLocalizer[nameof(ViewModel.Name)]
            <InputText @bind-Value="@ViewModel.Name"/>
        </div>
        <div>
            @StringLocalizer[nameof(ViewModel.Description)]
            <InputText @bind-Value="@ViewModel.Description"/>
        </div>
        <div>
            @StringLocalizer[nameof(ViewModel.Portions)]
            <InputNumber @bind-Value="@ViewModel.Portions"/>
        </div>
        <div>
            @StringLocalizer[nameof(ViewModel.EstimatedTime)]
            <InputNumber @bind-Value="@ViewModel.EstimatedTime"/>
        </div>
        <div>
            @StringLocalizer[nameof(ViewModel.CourseType)]
            <InputSelect @bind-Value="@ViewModel.CourseType">
                @foreach (var c in ViewModel.CourseTypes)
                {
                    <option value="@c.Course">@c.Name</option>
                }
            </InputSelect>
        </div>
        <div style="display: flex; flex-direction: column">
            <div>
                <div class="btn-primary" onclick="@(async () => { await ViewModel.TakeRecipePhotoAsync(); })">@StringLocalizer["TakePhoto"]</div>
            </div>
            <div>
                <div class="btn-primary" onclick="@(async () => { await ViewModel.SelectRecipePhotoAsync(); })">@StringLocalizer["SelectPhoto"]</div>
            </div>
            <div>
                <img src="@($"data:image/gif;base64,{ViewModel.Image}")" alt="@ViewModel.Name" />
            </div>
        </div>
        <div style="display: flex; flex-direction: column">
            <div>@StringLocalizer["Ingredients"]</div>
            <div class="btn-primary" onclick="@(async () => await ViewModel.AddAppliedIngredientAsync())">@StringLocalizer["AddIngredient"]</div>
            <InputSelect @bind-Value="@ViewModel.SelectedIngredientId">
                <option value="">
                    @StringLocalizer["SelectIngredient"]
                </option>
                @foreach (var ingredient in ViewModel.ApplicableIngredients)
                {
                    <option value="@ingredient.Id">@ingredient.Name</option>
                }
            </InputSelect>
        </div>
        <div>@StringLocalizer["SelectedIngredients"]</div>
        <div>
            @foreach (var appliedIngredient in ViewModel.AppliedIngredients)
            {
                <div style="margin: 5px; outline: solid 5px;">
                    <div>@appliedIngredient.Name</div>
                    <div class="btn-secondary" onclick="@(async () => { await ViewModel.DeleteAppliedIngredientAsync(appliedIngredient.Id); })">@StringLocalizer["DeleteIngredient"]</div>
                </div>
            }
        </div>
        <div style="display: flex; flex-direction: column">
            <div class="btn-primary" onclick="@(async () => ViewModel.AddStepAsync())">@StringLocalizer["AddStep"]</div>
            @foreach (var s in ViewModel.Steps)
            {
                <div style="display:flex; flex-direction:column">
                    <div>@StringLocalizer["Index"]: @s.Index</div>
                    <div>
                        @StringLocalizer[nameof(s.Name)]
                        <InputText @bind-Value="@s.Name"/>
                    </div>
                    <div>
                        @StringLocalizer[nameof(s.Description)]
                        <InputText @bind-Value="@s.Description"/>
                    </div>
                    <div class="btn-primary" onclick="@(async () => { await ViewModel.DeleteStepAsync(s.Id); })">@StringLocalizer["DeleteStep"]</div>
                </div>
                <div style="display: flex; flex-direction: column">
                    <div>
                        <div class="btn-primary" onclick="@(async () => { await ViewModel.TakeStepPhotoAsync(s.Id); })">@StringLocalizer["TakePhoto"]</div>
                    </div>
                    <div>
                        <div class="btn-primary" onclick="@(async () => { await ViewModel.SelectStepPhotoAsync(s.Id); })">@StringLocalizer["SelectPhoto"]</div>
                    </div>
                    @foreach (var photo in s.Photos!)
                    {
                        <div>
                            <img src="@($"data:image/gif;base64,{photo}")" alt="@s.Name" />
                        </div>
                    }
                </div>
            }
        </div>
    </div>
    <button type="submit">@StringLocalizer["Save"]</button>
    <button type="reset">@StringLocalizer["Cancel"]</button>
</EditForm>
