<div>
    <label for="IngredientTypes">Select ingredient type</label>
    <InputSelect class="form-select" @bind-Value="@StartVM.SelectedIngredientType">
        @foreach (var ingredientType in StartVM.IngredientTypeList)
        {
            <option value="@ingredientType.Value" title="@ingredientType.Description">@ingredientType.DisplayName</option>
        }
    </InputSelect>
    <label for="Ingredients">Select ingredient of chosen type</label>
    <InputSelect @bind-Value="@StartVM.SelectedIngredientName" class="form-select">
        @if (StartVM.AllIngredientList != null)
        {
            @foreach (var ingredient in StartVM.AllIngredientList)
            {
                <option value="@ingredient">@ingredient</option>
            }
        }
    </InputSelect>
    <div @onclick="StartVM.AddIngredientCommand.Execute" class="form-check">Add</div>
    <label for="Ingredients">Selected ingredients</label>
    <div>
        @foreach (var ingredient in StartVM.IngredientList)
        {
            <div>
                @ingredient.Name
            </div>
        }
    </div>
</div>
