@page "/start"
@using RecipeGenerator.API.Models.Recipes

<div>
    <EditForm Model="@startVM.Recipe" OnSubmit="@RecipeSubmitted" onreset="">
        <DataAnnotationsValidator/>
        <div>Title:</div>
        <InputText @bind-Value="@startVM.Recipe.Name"/>
        <InputSelect @bind-Value="@startVM.Recipe.CourseType" class="form-control">
            @foreach (var course in startVM.CourseList)
            {
                <option value="@course.Value" title="@course.Description">@course.DisplayName</option>
            }
        </InputSelect>
        <button type="button">Add step</button>
        <input type="submit" class="btn btn-primary" value="Save" />
        <button type="reset" class="btn btn-close" value="Cancel" onclick="@startVM.ResetRecipeCommand" />
    </EditForm>
</div>