@page "/start"
@using RecipeGenerator.API.Models.Ingeridients
@using RecipeGenerator.API.Models.Recipes

<div class="start-page">
    <EditForm Model="@startVM.Recipe" OnSubmit="@RecipeSubmitted">
        <DataAnnotationsValidator/>
        <ValidationSummary/>
        <div>
            <label for="Title">Choose title</label>
            <InputText DisplayName="Title" @bind-Value="@startVM.Recipe.Name" class="form-text"/>
        </div>
        <div>
            <label for="CourseTypes">Choose course type</label>
   <InputSelect @bind-Value="@startVM.Recipe.CourseType" class="form-select">
                @foreach (var course in startVM.CourseList)
                {
                    <option value="@course.Value" title="@course.Description">@course.DisplayName</option>
                }
            </InputSelect>
        </div>
        <div>
            <label for="IngredientTypes">Select ingredient type</label>
            <InputSelect @bind-Value="@startVM.SelectedIngredientType" class="form-select">
                @foreach (var ingredientType in startVM.IngredientTypeList)
                {
                    <option value="@ingredientType.Value" title="@ingredientType.Description">@ingredientType.DisplayName</option>
                }
            </InputSelect>
            <label for="Ingredients">Select ingredient of chosen type</label>
            <InputSelect @bind-Value="@startVM.SelectedIngredient" class="form-select">
                @foreach (var ingredient in startVM.AllIngredientList.Where(c => c.IngredientType == startVM.SelectedIngredientType))
                {
                     <option value="@ingredient" title="@ingredient.Description">@ingredient.Name</option>
                }
            </InputSelect>
        </div>
        <div>
            <label for="Steps">Steps</label>
            <div style="display: flex; flex-direction: column">
                <div style="display: flex; flex-direction: column">
                    <div class="btn btn-primary" @onclick="startVM.AddStepCommand.Execute">Add step</div>
                    @if (startVM.StepList?.Count > 0)
                    {
                        foreach (var step in startVM.StepList)
                        {
                            <div style="display: flex; flex-direction: column">
                                <InputText @bind-Value="@step.Name"/>
                                <InputTextArea @bind-Value="@step.Description" />
                            </div>
                        }
                    }
                </div>
                <div style="display: flex; flex-direction: row">
                    <input type="submit" class="btn btn-primary" value="Save" />
                    <div class="btn btn-cancel" @onclick="startVM.ResetRecipeCommand.ExecuteAsync">Cancel</div>
                </div>
            </div>
        </div>
        
    </EditForm>
</div>