@page "/start"
@using RecipeGenerator.API.Models.Ingeridients
@using RecipeGenerator.API.Models.Recipes


<ContextMenu Id="myMenu">
 <Item>Item 1</Item>
 <Item>Item 2</Item>
 <Item Enabled="false">Item 3 (disabled)</Item>
 <Seperator />
 <Item>
  Submenu
  <SubMenu>
   <Item>Submenu Item 1</Item>
   <Item>Submenu Item 2</Item>
  </SubMenu>
 </Item>
</ContextMenu>
<div class="start-page">
    <EditForm Model="@startVM.Recipe" OnSubmit="@RecipeSubmitted">
        <DataAnnotationsValidator/>
        <ValidationSummary/>
        <div>
            <label for="Title">Choose title</label>
            <InputText DisplayName="Title" @bind-Value="@startVM.Recipe.Name" class="form-text"/>
        </div>
        <div>
            <label for="CourseTypes">Choose course type</label>
            <InputSelect @bind-Value="@startVM.Recipe.CourseType" class="form-select">
                @foreach (var course in startVM.CourseList)
                {
                    <option value="@course.Value" title="@course.Description">@course.DisplayName</option>
                }
            </InputSelect>
        </div>
        <div>
            <label for="IngredientTypes">Select ingredient type</label>
            <InputSelect 
                class="form-select"
                @bind-Value="@startVM.SelectedIngredientType">
                @foreach (var ingredientType in startVM.IngredientTypeList)
                {
                    <option value="@ingredientType.Value" title="@ingredientType.Description">@ingredientType.DisplayName</option>
                }
            </InputSelect>
            <label for="Ingredients">Select ingredient of chosen type</label>
            <InputSelect @bind-Value="@startVM.SelectedIngredientName" class="form-select">
                @if (startVM.AllIngredientList != null)
                {
                    @foreach (var ingredient in startVM.AllIngredientList)
                    {
                         <option value="@ingredient">@ingredient</option>
                    }
                }
            </InputSelect>
            <div @onclick="startVM.AddIngredientCommand.Execute" class="form-check">Add</div>
            <label for="Ingredients">Selected ingredients</label>
            <div>
                @foreach (var ingredient in startVM.IngredientList)
                {
                    <div>
                        @ingredient.Name
                    </div>
                }
            </div>
        </div>
        <div>
            <label for="Steps">Steps</label>
            <div style="display: flex; flex-direction: column">
                <div style="display: flex; flex-direction: column">
                    <div class="btn btn-primary" @onclick="startVM.AddStepCommand.Execute">Add step</div>
                    @if (startVM.StepList?.Any() == true)
                    {
                        foreach (var step in startVM.StepList)
                        {
                            <StepComponent SelectedIngredients="@startVM.IngredientList" Step="@step"/>
                            @* <div style="display: flex; flex-direction: column">
                                <InputText @bind-Value="@step.Name" />
                                <ContextMenuTrigger MenuId="myMenu">
                                    <InputTextArea @bind-Value="@step.Description"/>
                                </ContextMenuTrigger>
                            </div> *@
                        }
                    }
                </div>
                <div style="display: flex; flex-direction: row">
                    <input type="submit" class="btn btn-primary" value="Save" />
                    <div class="btn btn-cancel" @onclick="startVM.ResetRecipeCommand.ExecuteAsync">Cancel</div>
                </div>
            </div>
        </div>
        
    </EditForm>
</div>